<section class="testimonials-wrapper container my-5">
  <div class="title text-center">
    <h3 class="display-4 font-weight-bold">Testimonials</h3>
    <p>Trusted by thousands, here’s what they think.</p>
  </div>
  <div class="testimonial-content">
    <owl-carousel-o [options]="customOptions" #owlCarousel>
      @for(data of testimonialsData; track data.name){
      <ng-template carouselSlide>
        <div>
          <div class="review">
            <div class="name">
              <img src="{{ data.image }}" alt="" />
              <h4>{{ data.name }}</h4>
              <span>{{ data.place }}</span>
            </div>
            <p>"{{ data.review }}"</p>
          </div>
        </div>
      </ng-template>
      }
    </owl-carousel-o>
  </div>
</section>
