// nav {
//   height: 5rem;
//   background-color: #fff;
//   box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
//   display: flex;
//   align-items: center;
//   position: sticky;
//   top: 0;
//   z-index: 10;
//   font-family: var(--font-1);
//   font-weight: 500;
//   overflow: hidden;
//   h2 {
//     color: var(--coffee);
//   }
//   .logo {
//     padding: 1vh 1vw;
//     text-align: center;
//     color: var(--caramel);

//     img {
//       height: 8rem;
//       width: 12rem;
//     }
//   }

//   .nav-links {
//     display: flex;
//     list-style: none;
//     width: 100%;
//     padding: 0 0.7vw;
//     justify-content: end;
//     gap: 30px;
//     align-items: center;
//     text-transform: uppercase;
//     margin: 0;

//     li {
//       position: relative;

//       a {
//         text-decoration: none;
//         margin: 0 0.7vw;
//         color: var(--coffee);

//         &::before {
//           content: "";
//           display: block;
//           height: 2px;
//           width: 0%;
//           background-color: var(--coffee);
//           position: absolute;
//           top: 125%;
//           left: calc(100% - 85%);
//           transition: all ease-in-out 250ms;
//           margin: 0 0 0 10%;
//         }

//         &:hover::before {
//           width: 45%;
//         }
//       }
//     }
//   }

//   .login-button {
//     background-color: transparent;
//     border: 1.5px solid var(--coffee);
//     color: var(--coffee);
//     border-radius: 2em;
//     padding: 10px 20px;
//     margin-left: 2vw;
//     font-size: 1rem;
//     cursor: pointer;

//     &:hover {
//       color: #fff;
//       background-color: var(--coffee);
//       border: 1.5px solid #f2f5f7;
//       transition: all ease-in-out 350ms;
//     }
//   }

//   .join-button {
//     color: #fff;
//     background-color: var(--coffee);
//     border: none;
//     border-radius: 2em;
//     padding: 10px 20px;
//     font-size: 1rem;
//     cursor: pointer;
//   }

//   .hamburger {
//     display: none;

//     div {
//       width: 30px;
//       height: 3px;
//       background: #f2f5f7;
//       margin: 5px;
//       transition: all 0.3s ease;
//     }
//   }
// }

// /* Small Screens */
// @media screen and (max-width: 800px) {
//   nav {
//     position: sticky;
//     z-index: 3;

//     .hamburger {
//       display: block;
//       position: absolute;
//       cursor: pointer;
//       right: 5%;
//       top: 50%;
//       transform: translate(-5%, -50%);
//       z-index: 2;
//       transition: all 0.7s ease;
//     }

//     .nav-links {
//       position: fixed;
//       background: #131418;
//       height: 100vh;
//       width: 100%;
//       flex-direction: column;
//       clip-path: circle(50px at 90% -20%);
//       -webkit-clip-path: circle(50px at 90% -10%);
//       transition: all 1s ease-out;
//       pointer-events: none;

//       &.open {
//         clip-path: circle(1000px at 90% -10%);
//         -webkit-clip-path: circle(1000px at 90% -10%);
//         pointer-events: all;
//       }

//       li {
//         opacity: 0;

//         &:nth-child(1) {
//           transition: all 0.5s ease 0.2s;
//         }
//         &:nth-child(2) {
//           transition: all 0.5s ease 0.4s;
//         }
//         &:nth-child(3) {
//           transition: all 0.5s ease 0.6s;
//         }
//         &:nth-child(4) {
//           transition: all 0.5s ease 0.7s;
//         }
//         &:nth-child(5) {
//           transition: all 0.5s ease 0.8s;
//         }
//         &:nth-child(6) {
//           transition: all 0.5s ease 0.9s;
//           margin: 0;
//         }
//         &:nth-child(7) {
//           transition: all 0.5s ease 1s;
//           margin: 0;
//         }

//         &.fade {
//           opacity: 1;
//         }
//       }
//     }
//   }
// }

// /* Hamburger toggle animation */
// .toggle {
//   .line1 {
//     transform: rotate(-45deg) translate(-5px, 6px);
//   }
//   .line2 {
//     transition: all 0.7s ease;
//     width: 0;
//   }
//   .line3 {
//     transform: rotate(45deg) translate(-5px, -6px);
//   }
// }
.navbar {
  height: 80px;
  background-color: #fff !important;
  box-shadow: 3px -5px 10px;
  .navbar-collapse {
    background-color: #fff !important;
  }
  .logo {
    img {
      height: 80px;
      width: 120px;
    }
  }
  .nav-link,
  .dropdown-item {
    color: var(--caramel);
  }
  .login-button {
    background-color: transparent;
    border: 1.5px solid var(--coffee);
    color: var(--coffee);

    &:hover {
      color: #fff;
      background-color: var(--coffee);
      border: 1.5px solid #f2f5f7;
      transition: all ease-in-out 350ms;
    }
  }

  .join-button {
    color: #fff;
    background-color: var(--coffee);
    border: none;
  }
  .login-button,
  .join-button {
    height: auto;
    width: 80px;
    border-radius: 2em;
    padding: 10px 20px;
    margin: 1vw 0;
    font-size: 1rem;
    cursor: pointer;
  }
  @media (min-width: 992px) {
    .login-button,
    .join-button {
      display: inline-block;
      margin: 0 1vw;
    }
  }
}
