<section class="our-services-wrapper my-5 container">
  <div class="title text-center">
    <h3 class="display-4 font-weight-bold">Our Services</h3>
    <p>
      From farm to doorstep — we handle logistics so you enjoy nature’s best.
    </p>
  </div>

  <div class="services-card container">
    <img src="../../../assets/images/services/freepik__adjust.png" alt="" />
    <p class="text-center">
      We specialize in delivering fresh, naturally sourced products straight
      from farms to your home or business. Whether you need small orders for
      personal use or bulk quantities for resale, we've got you covered.
    </p>
  </div>
</section>
