.our-services-wrapper {
  background-color: var(--caramel);
  color: white;
  padding-block: clamp(40px, 8vw, 80px);
  padding-inline: clamp(20px, 5vw, 40px);
  border-radius: 8px;
  .title {
    p {
      width: min(90%, 80ch);
      margin: 0 auto;
    }
  }
  .services-card {
    p {
      width: min(90%, 80ch);
      margin: 0 auto;
    }
    img {
      width: clamp(100%, 50vw, 35%);
      max-width: 300px;
      margin: 0 auto;
      display: block;
    }
  }
}
