<!-- <section class="footer-wrapper container">
  <div class="footer-content">
    <div class="footer-info">
      <div class="footer-links">
        <h3>Pages</h3>
        <ul>
          <li>Home</li>
          <li>What We Sell</li>
          <li>Contact Us</li>
        </ul>
      </div>
      <div class="socials">
        <h3>Socials</h3>
        <span>facebook</span>
        <span>Instagram</span>
        <span>What's app</span>
      </div>
      <div class="address">
        <h3>- Contact -</h3>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          facere ipsam reprehenderit.
          <div>+91-9182736450</div>
        </span>
      </div>
    </div>
  </div>
</section> -->
