ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: #5867dd;

  &:focus,
  &:hover {
    text-decoration: none;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
  }

  &:focus {
    outline: 0;
  }
}

img {
  max-width: 100%;
}

p {
  font-size: 16px;
  line-height: 30px;
  color: #898b96;
  font-weight: 300;
}

.no-padding {
  padding: 0 !important;
}

.go_top {
  line-height: 40px;
  cursor: pointer;
  width: 40px;
  background: var(--coffee);
  color: #fff;
  position: fixed;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  right: calc((100% - 1140px) / 2);
  z-index: 111;
  bottom: 80px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(100px);
  pointer-events: none;

  &.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  span {
    display: inline-block;
  }
}

.footer-big {
  padding: 105px 0 65px 0;

  .footer-widget {
    margin-bottom: 40px;
  }

  .footer-menu {
    ul {
      li {
        a {
          color: #fff;
          text-decoration: none;
          font-size: 15px;
          line-height: 32px;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
        }
      }
    }
  }

  p,
  ul li {
    color: #fff;
    text-decoration: none;
  }
}

.footer--light {
  background: var(--caramel);
}

.footer-menu {
  padding-left: 48px;

  i {
    font-size: 22px;
    margin-right: 25px;
    cursor: pointer;
  }
}

.footer-menu--1 {
  width: 100%;
}

.footer-widget-title {
  line-height: 42px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
}

.mini-footer {
  background: #192027;
  text-align: center;
  padding: 32px 0;

  p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #fff;

    a {
      color: var(--caramel);
      text-decoration: none;
      transition: 0.3s ease;

      &:hover {
        border-bottom: 1px solid var(--caramel);
      }
    }
  }
}

.widget-about {
  img {
    display: block;
    margin-bottom: 30px;
  }

  p {
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.3px;
  }

  .contact-details {
    margin: 30px 0 0 0;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        padding-right: 12px;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 991px) {
  .footer-menu {
    padding-left: 0;
  }
}
